<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>곡정보</title>
</head>
<body>
<section class="card">
	<div class="card_head" >
		<p> </p>
        <img src="https://d1z4u1c8ot3who.cloudfront.net/song/210303/73eca192.jpg" class="img-fluid" style="display:block; margin-left:auto; margin-right:auto;" >
		<h5 style="display: flex; justify-content: center;"><br> 음악 저작권 이름</h5>

	</div>
	<div class="card_body">
		<div class="lst_copy_info" > <br>
			<dl style="display:inline">
				<dt>가수</dt><dd>멜로망스</dd>
				<dt>앨범명</dt><dd>멜로망스</dd>
				<dt>장르</dt><dd>멜로망스</dd>
				<dt>발매일</dt><dd>2018-07-03</dd>
				<dt>작곡</dt><dd>김민석, 정동환</dd>
				<dt>작사</dt><dd>김민석</dd>
				<dt>유통사</dt><dd>MPMG</dd>
				<dt>최근 1년 저작권료 (1주 기준)</dt><dd>2,391원</dd>
				<a href="https://www.musicow.com/market?tab=list&sortorder=&keyword=">
						<img src="{%static 'img/go_to_musicow.jpg' %}">
				</a>



			</dl>
		</div>
	</div>
</section>

</body>

<style>
dt {
 	float: left;
 	padding-right: 30px;
}
dd{
     margin: 0;
}
</style>
</html>
