<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>곡정보</title>
</head>
<body>
<section class="card">
	<div class="card_head" >
		<p> </p>
        <img src="https://d1z4u1c8ot3who.cloudfront.net/song/210105/eb5e388c.jpg" class="img-fluid" style="display:block; margin-left:auto; margin-right:auto;" >
		<h5 style="display: flex; justify-content: center;"><br> I Can't </h5>

	</div>
	<div class="card_body">
		<div class="lst_copy_info" > <br>
			<dl style="display:inline">
				<dt>가수</dt><dd>2PM</dd>
				<dt>앨범명</dt><dd>Hands Up</dd>
				<dt>장르</dt><dd>댄스 / 가요</dd>
				<dt>작곡</dt><dd>Ra.D (라디)</dd>
				<dt>작사</dt><dd>Ra.D (라디)</dd>
				<dt>유통사</dt><dd>Dreamus</dd>
				<dt>최근 1년 저작권료 (1주 기준)</dt><dd>349원</dd>
				<a href="https://www.musicow.com/market?tab=list&sortorder=&keyword=I Can't">
						<img src="{%static 'img/go_to_musicow.jpg' %}">
				</a>
			</dl>
		</div>
	</div>
</section>


</body>

<style>
dt {
 	float: left;
 	padding-right: 30px;
}
dd{
     margin: 0;
}
</style>
</html>